

/*
ID 1370
Rough Borders
Author: Y. Kollega
Rebuild: Jan 2010
*/






/*  Layout
----------------------------------------------- */


div#cc-tp-padding-container { 
  position: relative;
  padding:0px 0px;
  text-align:center;
}


div#cc-tp-container {
  width:899px;
  margin:0 auto; 
  text-align:left;
}


div#cc-tp-header {
  width:899px;
  margin:30px 0 26px 0;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/header-bg.gif) no-repeat 0 0;
}


div#cc-tp-header div.cc-tp-gutter { padding:25px; }


div#cc-tp-wrapper {
  float:left;
  width:238px;
}

div#cc-tp-navigation div.cc-tp-gutter {
  padding:10px 20px 10px 20px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/side-bg.gif) repeat-y 0 0;
}


div#cc-tp-nav-top {
  width:100%;
  height:19px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/side-top.gif) no-repeat left top;      
}


div#cc-tp-nav-btm {
  width:100%;
  height:19px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/side-bottom.gif) no-repeat left top;     
}


div#cc-tp-sidebar { margin-top:20px; }


div#cc-tp-sidebar-top {
  width:100%;
  height:19px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/side-top.gif) no-repeat left top;
}


div#cc-tp-sidebar-btm {
  width:100%;
  height:19px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/side-bottom.gif) no-repeat left top;
}


div#cc-tp-sidebar div.cc-tp-gutter {
  padding:10px 20px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/side-bg.gif) repeat-y 0 0;
}


div#cc-tp-content {
  float:right;
  width:643px;
}


div#cc-tp-content-top {
  width:100%;
  height:19px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/content-top.gif) no-repeat left top;
}


div#cc-tp-content-btm {
  width:100%;
  height:19px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/content-bottom.gif) no-repeat left top;
}


div#cc-tp-content div.cc-tp-gutter { 
  padding:10px 40px 30px 40px;
  background:url(http://u.jimdo.com/www66/o/layout/l18102fdb581481be/img/content-bg.gif) repeat-y 0 0;
}







/*  NAVIGATION
----------------------------------------------- */
div#navigation {
  width:140px;
  font-family: "Hiragino Kaku Gothic Pro", "qMmpS Pro W3", Osaka, "lr oSVbN", sans-serif;
  line-height:100%;
  padding:0 0 20px 0;
  float:left;
}

ul.mainNav1,
ul.mainNav2,
ul.mainNav3 {
  text-align:left;
  margin:0;
  padding:0;
  list-style:none;
}

ul.mainNav1 li,
ul.mainNav2 li,
ul.mainNav3 li {
  display:inline;
  margin:0; 
  padding:0;
  list-style:none;
}


ul.mainNav1 li a,
ul.mainNav1 li a:link,
ul.mainNav1 li a:visited {
  display:block;
  font-weight:normal;
  color:#333333;
  font-size:11px;
  text-decoration:none;
  padding:6px 0 8px 5px;
  margin:0 0 4px 0;
  background:url('http://u.jimdo.com/www66/o/layout/la18ca6249dc24447/img/menu.png') 0 -30px no-repeat;
}

ul.mainNav1 li a:hover,
ul.mainNav1 li a:active,
ul.mainNav1 li a.current {
  color:#fff !important;
  text-decoration:none;
  background:url('http://u.jimdo.com/www66/o/layout/la18ca6249dc24447/img/menu.png') 0 -2px no-repeat;
}

ul.mainNav1 li a.current  {
  font-weight:bold;
}

ul.mainNav2 li a,
ul.mainNav2 li a:link,
ul.mainNav2 li a:visited,
ul.mainNav3 li a,
ul.mainNav3 li a:link,
ul.mainNav3 li a:visited {
  font-weight:normal;
  font-size:11px;
  background:none;
  color:#333333;
}

ul.mainNav3 li a,
ul.mainNav3 li a:link,
ul.mainNav3 li a:visited {
  padding-left:10px;
}

ul.mainNav2 li a:hover,
ul.mainNav3 li a:hover,
ul.mainNav2 li a.current,
ul.mainNav3 li a.current {
  color:#A25755 !important;
  background:none;
}